<div class="sub2">
    <table class="table">
        <div class="barra-busqueda">
            <input type="text" placeholder="Buscar...">
        </div>
        <thead id="cabecera">
            <tr>
                <th>NOMBRE</th>
                <th>TELEFONO</th>
                <th>FECHA</th>
                <th>SERVICIO</th>
            </tr>
        </thead>

        <tbody id="cuerpo">
            <tr>
                <td>No data found</td>
                <td>No data found</td>
                <td>No data found</td>
                <td>No data found</td>
            </tr>
        </tbody>
    </table>
</div>