<div class="sub2">
    <table class="table" id="tables">
        <div class="barra-busqueda">
            <input type="search" id="input-search" placeholder="Buscar...">
        </div>
        <thead id="cabecera">
            <tr>
                <th>NOMBRE</th>
                <th>TELEFONO</th>
                <th>FECHA</th>
                <th>SERVICIO</th>
            </tr>
        </thead>

        <tbody id="cuerpo">
            <% if (data.length > 0) { data.forEach((user) => { %>
            <tr>
                <td> <%= user.n_cliente %> </td>
                <td> <%= user.tel_cliente %> </td>
                <td> <%= user.fecha %> </td>
                <td> <%= user.servicio %> </td>
            </tr>
            <% })} %>
        </tbody>
    </table>
</div>