<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header" id="card1">
                Economico
            </div>
            <div class="card-body">
                <ul>
                    <li><i class="fas fa-paw"></i> Viajadora Para Perros De Tamaño Chico A Mediano</li>
                </ul>
                <h1> $50 </h1>
                <p> Por Dia </p>
                <a data-content="" class="btn btn-primary" id="button1"> ¡Reserva Ahora!</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header" id="card2">
                Basico
            </div>
            <div class="card-body">
                <ul>
                    <li><i class="fas fa-paw"></i> Transportadora Doble De Tamaño Del Paquete Economico
                    </li>
                    <li><i class="fas fa-newspaper"></i> Periodico y Tapete</li>
                </ul>
                <h1> $100 </h1>
                <p> Por Dia </p>
                <a href="" class="btn btn-primary" id="button2"> ¡Reserva Ahora!</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header" id="card3">
                VIP
            </div>
            <div class="card-body">
                <ul>
                    <li><i class="fas fa-dog"></i> Transportadora Grande Para Perros De Gran Tamaño</li>
                    <li><i class="fas fa-bed"></i> Cama y Juguete</li>
                </ul>
                <h1> $150 </h1>
                <p> Por Dia </p>
                <a href="" class="btn btn-primary" id="button3"> ¡Reserva Ahora!</a>
            </div>
        </div>
    </div>
</div>