:root{
    --Colors-body: #F3F3F3;
    --Colors-lema: #E6E6E5;
    --Fuent-Negra: #484848;
    --Fuent-Blanca:#FFFFFF;
    --Barra-Menu: #517E54;
    --Secc-Economico: #43DC81;
    --Secc-Basico: #FFAC30;
    --Secc-Vip: #D758E3;
    --Tarjetas: #51A6F6;
    --Boton_Regis: #51A6F6; 
}

.Container-General #id-TablaDuenos .sub-Container {
    width: 1480px;
    height: 500px;
    text-rendering: optimizeLegibility;
}

.Container-General #id-TablaDuenos h1{
    text-align: center;
    margin-top: 40px;
}

#id-TablaDuenos .sub-Container .sub2 {
    margin-top: 40px;
    position: absolute;
    border-radius: 3px;
    border-collapse: collapse;
    margin-left: 30px;
    margin-right: 30px;
    height: 320px;
    width: 1410px;
    padding: 5px;
    max-width: 1410px;
}

.sub2 table {
    margin-top: 50px;
    background-color: var(--Colors-lema);
}
.barra-busqueda{
    margin-top: 50px;
}

.barra-busqueda input{
    display: block;
    padding: 10px 15px;
    margin: 10px auto 10px auto;
    width: 90%;
    outline: none;
    border: 1px solid var(--Barra-Menu);
    border-radius: 4px;
    color: var(--Barra-Menu);
    font-size: medium;
    background: var(--Colors-lema);
}

.sub2 #cabecera {
    background: var(--Barra-Menu);
    text-align: center;
    color: var(--Colors-body);
    font-size: 14px;
}

.sub2 #cuerpo {
    background: var(--Colors-body);
    text-align: center;
    font-size: 12px;
}

